{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/cepp.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cep</title>
</head>
<body>
    <a id="h" href="/">Pesquisar outro CEP</a> 
    <h1 id="h1">CEP : {{cep}}</h1>
    <h1 id="h2">Logradouro: {{logradouro}}</h1>
    <h1 id="h3">Complemento: {{complemento}}</h1>
    <h1 id="h4">Bairro: {{bairro}}</h1>
    <h1 id="h5">Localidade: {{localidade}}</h1>
    <h1 id="h6">UF: {{uf}}</h1>
    <h1 id="h7">IBGE: {{ibge}}</h1>
    <h1 id="h8">DDD: {{ddd}}</h1>



    <script src="{% static 'js/jsss.js' %}"></script>
</body>
</html>